.productList {
  margin: 10px 20px;
  flex: 6;
}

.productListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.productListAddButton {
  width: 80px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: #1e3163;
  color: white;
  cursor: pointer;
}
.productListAddButton:hover {
  font-weight: 600;
  font-size: 17px;
  background-color: #1a2238;
}

.productListTable {
  height: 67vh;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #85c085;
  cursor: pointer;
}
.productListEdit:hover {
  font-size: 14px;
  background-color: #063b06;
  color: white;
}

.productListDelete {
  font-size: 25px !important;
  margin-left: 10px;
  color: rgb(216, 23, 23);
  cursor: pointer;
}
.productListDelete:hover {
  color: rgb(95, 13, 13);
  font-size: 35px !important;
}
