.newProduct {
  flex: 6;
}

.newProductWrapper {
  margin: 10px 20px;
}

.newProductForm {
  margin-top: 20px;
}

.newProductItem {
  display: flex;
  flex-direction: column;
}

.newProductItem > label {
  font-weight: 600;
  color: #555555;
  margin-bottom: 10px;
}

.newProductItem > input {
  margin-bottom: 15px;
  width: 50%;
  height: 30px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #555555;
}

.newProductItem > select {
  height: 30px;
  width: 100px;
  padding: 5px;
}
